*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    color: #000;
    padding: 10px;
    margin: 10%  40%;
    font-size: 20px;
    text-align: center;
    
    box-shadow: 9px 9px 8px rgba(1, 1, 1, 0.2); 
    border-radius: 10px;  
}

.header:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

#profile-picture{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid none;
    margin: 0px auto;
}

#name{    
    font-size: 50px;
    margin: 5px 0px;
}

.statut{
    color:#a9a9a9;
}








.icon {
    height: 60px;
    width: 60px;
    display: flex;
    background:bisque; 
    display: flex;   
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.2);
    cursor:pointer; 
    z-index: 2;
    
}

.info {
    list-style: none;
    align-items: center;  
    flex-direction: row;
    display: flex;
    margin-top: -110px;
    justify-content: center;
}

.info p{
    background-color:blanchedalmond;
    margin-left: 10px;
    color: #000;
    padding: 10px 18px; 
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.info:hover p{
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

.info li{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}





.seconde{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.objectif{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin: 0 10px;
    margin-top: -150px;
    background-color: blanchedalmond;
    border-radius: 23px;
    padding: 5px 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.2); 
}

#text-pres{
    text-align: center;
    font-size: large;
}


.etudes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin: 0 100px;
    background-color: blanchedalmond;
    border-radius: 23px;
    padding: 5px 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.2); 
}

.etudes li{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.etudes li a{
    text-decoration: none;
    color: #000;
    text-align: center;
}

.etudes li a:hover{
    color: #a9a9a9;
    transition: 0.3s;
}








.third{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background-color: blanchedalmond;
    margin-top: -300px;
    border-radius: 23px;
    padding: 10px 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.2); 
}

.experiences ul {
    list-style: none;
    align-items: center;  
    flex-direction: row;
    display: flex;
}

.experiences li{  
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;  
}


.competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin: 0 100px;
    background-color: blanchedalmond;
    border-radius: 23px;
    padding: 5px 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.2); 
}

.competences ul {
    list-style: none;
    align-items: center;  
    flex-direction: column;
    display: flex;
}




footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    margin-left: 100px;
    margin-bottom: 50px;   
    background-color: blanchedalmond;
    border-radius: 23px;
    padding: 5px 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.2); 
    width: 40%;

}


footer a { 
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 20px;
}


#lastest{
    padding-top: 10px;
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 0 271%;
}



@media screen and (max-device-width: 700px){
    main{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header{
        margin: auto;
        position: relative;
    }
    .info{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 10px;

    }
    

    .objectif{
        margin: auto;
        position: relative;
        
    }

    .etudes{
        margin: auto;
        position: relative;
    }

    .experiences{
        margin: auto;
        position: relative;
    }


    footer{
        margin: auto;
        position: relative;
    }

    .competences{
        margin: auto;
        position: relative;
    }
   
}